.features {
  background-color: var(--clr-gray);

  .section {
    &__header {
      display: grid;
      gap: 1.4rem;
      margin-block-end: 5rem;
      text-align: start;

      @media (min-width: 48em) {
        justify-content: space-between;
        grid-template-columns: repeat(2, 40%);
      }
    }

    &__title {
      font-size: 1.75rem;
      letter-spacing: -0.05rem;
      @media (min-width: 30em) {
        font-size: 2rem;
      }
      @media (min-width: 48em) {
        font-size: 1.75rem;
      }
      @media (min-width: 62em) {
        font-size: 3.125rem;
      }
    }

    &__subtitle {
      font-size: 1rem;
      font-weight: 500;
      @media (min-width: 48em) {
        font-size: 0.8125rem;
      }
      @media (min-width: 62em) {
        font-size: 1.25rem;
      }
    }

    &__content {
      display: grid;
      gap: 2rem;
      @media (min-width: 62em) {
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
      }
      @media (min-width: 75em) {
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

.feature {
  max-width: 400px;
  margin-inline: auto;
  padding: 1rem 1.75rem 2rem;
  background-color: #fff;
  border-radius: var(--radius-md);
  @media (min-width: 62em) {
    max-width: none;
    margin-inline: 0;
  }

  &__icn {
    // width: 70%;
    max-width: 250px;
    margin-inline: auto;
  }

  &__title {
    font-size: 1rem;
    color: var(--clr-blue);
    margin-block-end: 1rem;
    @media (min-width: 48em) {
      font-size: 1.25rem;
    }
  }

  p {
    font-size: 1rem;
    @media (min-width: 48em) {
      font-size: 0.75rem;
    }
    @media (min-width: 62em) {
      font-size: 1rem;
    }
  }
}
