.howitworks {
  background-color: var(--clr-gray);
  padding-block-end: 8rem;

  .section__header {
    text-align: center;
    margin-block-end: 4rem;
  }

  .section__title {
    max-width: 12ch;
  }
}

.steps {
  list-style-type: none;

  &__item {
    display: grid;
    gap: 3rem;
    justify-content: center;
    @media (min-width: 62em) {
      gap: 2rem;
      justify-content: space-evenly;
      grid-template-rows: auto;
      grid-template-columns: auto minmax(18.125rem, 28rem);
    }

    &:nth-child(even) {
      .img-wrapper {
        background-image: url('/images/dt.png');
      }

      @media (min-width: 62em) {
        grid-template-columns: minmax(18.125rem, 30rem) auto;

        .img-wrapper {
          order: -1;
        }
      }
    }

    &:not(:last-child) {
      margin-block-end: 4rem;
    }
  }

  .info-wrapper,
  .img-wrapper {
    display: flex;
    justify-content: center;
  }

  .img-wrapper {
    position: relative;
    align-items: center;
    aspect-ratio: 1;
    background: url('/images/Small_Dark_BG 1.png') 50% 50% / cover no-repeat;
    border-radius: var(--radius-round);
  }

  img {
    height: 120%;
    position: absolute;
  }

  .info-wrapper {
    max-width: 45ch;
    flex-direction: column;
    align-items: flex-start;
    border-radius: var(--radius-md);
  }

  .tag {
    display: inline-block;
    padding: 0.25rem 0.9rem 0.15rem;
    margin-block-end: 1.8rem;
    font-weight: 100;
    font-family: Gtalpina, sans-serif;
    background-color: var(--clr-brand);
    border-radius: var(--radius-round);
    @media (min-width: 48em) {
      font-size: 0.75rem;
    }
    @media (min-width: 62em) {
      font-size: 1rem;
    }
  }

  h3 {
    font-size: 1.5rem;
    margin-block-end: 1rem;
    @media (min-width: 30em) {
      font-size: 1.825rem;
    }
    @media (min-width: 62em) {
      font-size: 2.25rem;
    }
    @media (min-width: 75em) {
      font-size: 2.5rem;
    }
  }
}
